<div class="jumbotron" id="content">
	<h3> <%= email.object %> </h3>
	<p> <%= email.body%> </p>
	<%= link_to "Supprimer", email_path, method: :delete, remote: true, class: "btn btn-danger" %>
	<%= link_to "Marquer comme non nul", email_path, method: :put, remote: true, class: "btn btn-info" %>
</div>