<%= link_to "Recevoir un email", emails_path, method: :post, remote: true, class: "btn btn-success" %>

<div class="d-flex" id="show-content">
	<div class="jumbotron-fluid" id="email">

		<% @emails.each do |email| %>
			<div class="list-group" id="<%= email.id %>">
				<%= link_to email.object, email_path(email.id), remote: true, class: "list-group-item list-group-item-action"%>
			</div>
		<% end %>

	</div>
</div>